@import '../../styles/variables';

.post-content {
    border-radius: 0.5rem;
    margin: 2rem 0 0;
    width: 100%;

    // Override PrismJS theme styles
    pre[class*='language-'] {
        background-color: $color__catskill-white !important;
        border-radius: 0.35rem;
        font-family: monospace !important;
        font-size: 0.78rem !important;
        margin: 2rem 0 !important;
        padding: 1.5rem !important;
        overflow: auto;
    }

    .token.operator {
        background: transparent !important;
    }
}
